$color-black: #ffffff;
$color-parchment: #0DA900;
$color-parchment-dark: #052517;

$font-freight: 'FreightDisp Pro';
$font-forma-djr: 'Forma DJR Display';

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);