$color-white: #fff;
$color-black: #000;
$color-cornflower-blue: #C2C4E5;
$color-port-gore: #1B1D3C;
$color-parchment: #EDEBC9;

$font-freight: 'FreightDisp Pro';
$font-forma-djr: 'Forma DJR Display';

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);