%paragraph-11 {
  font-family: $font-forma-djr;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9375rem;
}

%paragraph-11-bold {
  font-family: $font-forma-djr;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.9375rem;
  text-transform: uppercase;
}

%paragraph-12 {
  font-family: $font-forma-djr;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.4;
}