%title-20 {
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: $color-port-gore;
  font-family: $font-forma-djr;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.6rem;
  line-height: 3.6875rem;
}


%title-23 {
  font-family: $font-forma-djr;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.6875rem;
}

%title-35 {
  font-family: $font-freight;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6875rem;
}

%title-41 {
  font-family: $font-freight;
  font-size: 4.125rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 3.6875rem;
}

%title-36 {
  font-family: $font-forma-djr;
  font-size: 3.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6875rem;
}
