html {
  font-size: calc((100vw / 1440) * 16);

  @include media('<=phone') {
    font-size: calc(100vw / 768 * 16);
  }
}

body {
  font-family: $font-forma-djr;
  background-color: $color-black;
  color: $color-parchment;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.separator-line {
  background-color: $color-parchment;
  height: 0.25rem;
  width: 100%;
  margin-bottom: 5.45rem;
  margin-inline: 1rem;

  @include media('<=phone') {
    margin-bottom: 2.75rem;
  }
}

[data-animation="horizontal_label"],
[data-animation="title"],
[data-animation="paragraph"] {

  p span,
  span {
    display: inline-block;
    overflow: hidden;

    // overflow fix
    padding-bottom: 0.5ch;
    margin-bottom: -0.7ch;
    padding-top: 0.4ch;
    margin-top: -0.7ch;
  }
}

.grow {
  img {
    transition: $ease-in-out;
    transform: scale(calc(var(--grow-ratio)));
  }
}

.hide {
  opacity: 0;
}