.home__hero {
  background: $color-black;
  color: $color-parchment;
  width: 100%;
  padding-top: 5rem;
  margin-bottom: 16rem;
  padding-inline: 2rem;


  @include media('<=phone') {
    margin-bottom: 10rem;
  }

}

.home__hero__line-right,
.home__hero__line-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.home__hero__star {
  margin-bottom: 1.6rem;

  svg {
    fill: $color-parchment;
    width: 7.625rem;
    height: 7.625rem;
  }

  @include media('<=phone') {
    margin-bottom: 0.45rem;

    svg {
      width: 4.625rem;
      height: 4.625rem;
    }
  }
}

.home__hero__line {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.home__hero__line__small {
  @extend %title-35;
  -webkit-text-stroke: 1px $color-parchment;
  margin-left: 0.3rem;
  color: transparent;

  /* For non-webkit browsers */
  text-stroke: 1px $color-parchment;
}

.home__hero__line__big {
  @extend %title-130;

}

.home__hero__line-left {}

.home__hero__line {}

.home__hero__line__small {}

.home__hero__cta {
  margin-left: 21.4375rem;
  margin-top: 4.75rem;
  max-width: 24.125rem;
  width: 100%;


  @include media('<=phone') {
    margin-inline: auto;
    text-align: center;
  }
}

.home__hero__cta__content {
  @extend %title-11;
  margin-bottom: 2.25rem;
}

.home__hero__cta__link {
  display: flex;

  a {
    @extend %button-filled;
    color: $color-black;
  }

  @include media('<=phone') {
    justify-content: center;
  }
}