.home__hero {
  height: 43.4375rem;
  position: relative;
  @include media('<=phone') {
    height: 70rem;
  }

}

.home__hero__background {
  width: 100%;
  height: 100%;
  position: absolute;
}

.home__hero__background__img {
  @extend %cover;
  object-fit: cover;
}

.home__hero__wrapper {
  @extend %center;
  height: 100%;
  width: 100%;
}

.home__hero__quote {
  @extend %title-36;
  color: white;
  max-width: 49.0625rem;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 17.06rem;

  @include media('<=phone') {
    margin-left: 3rem;
    max-width: 40rem;
  }
}

.home__hero__secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 2.94rem;
}


.home__hero__secondary__quote {
  text-transform: uppercase;
  text-anchor: middle;
  text-align: center;
  color: #FFF;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1.36rem;
}


.home__hero__secondary__icon {
  svg {
    width: 2.25rem;
    height: 3.9375rem;
  }
}
