.home__quote {
  position: relative;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 20rem;
  padding-bottom: 8rem;

  &[data-quote-variant="white"] {
    background-color: $color-black;

    .home__quote__wrapper {
      color: $color-parchment;
    }
  }

  &[data-quote-variant="dark"] {
    background-color: $color-parchment;

    .home__quote__wrapper {
      color: $color-black;
    }
  }
}

.home__quote__wrapper {
  max-width: 49.0625rem;
  position: sticky;
  top: 40%;

  @include media('<=phone') {
    max-width: 44.5rem;
    margin: 2rem auto;
  }
}

.home__quote__text {
  @extend %title-41;
}