.home__section__vertical {
  @extend %center;
  margin-bottom: 22rem;
}

.home__section__vertical__wrapper {
  display: flex;
  justify-content: start;
  max-width: 70.625rem;
  flex: 1;

  @include media('<=phone') {
    max-width: 45rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.home__section__vertical__left {
  max-width: 35.9375rem;
  width: 100%;
  flex-shrink: 0;

  @include media('<=phone') {
    margin-bottom: 6rem 
  }
}

.home__section__vertical__left__number {
  @extend %paragraph-12;
}

.home__section__vertical__left__title {
  @extend %title-36;
}

.home__section__vertical__right {
  max-width: 27.5rem;
}

.home__section__vertical__right_item {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.home__section__vertical__right__title {
  @extend %title-20;
}

.home__section__vertical__right__content {

}
