.home__section__horizontal {
  @extend %center;
  margin-bottom: 22rem;
}

.home__section__horizontal__wrapper {
  max-width: 70.625rem;
  flex: 1;

  @include media('<=phone') {
    max-width: 45rem;
    flex-direction: column;
  }
}

.home__section__horizontal__left {
  flex: 1;
  @include media('<=phone') {
    text-align: center;
  }
}

.home__section__horizontal__left__number {
  @extend %paragraph-12;
}

.home__section__horizontal__left__title {
  @extend %title-36;
  margin-bottom: 6rem;
}

.home__section__horizontal__right {
  display: flex;
  flex-direction: column;
  max-width: 56.125rem;
  margin: 0 auto;
}

.home__section__horizontal__right_item {
  display: flex;
  justify-content: space-between;
  align-content: start;

  &:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.home__section__horizontal__right__item__left__title {
  @extend %title-35;
  max-width: 22.625rem;
  flex: 1;
}

.home__section__horizontal__right__item__right__content {
  max-width: 27.5rem;
}
