.footer {
  margin-top: 16rem;
  background-color: $color-black;
  color: $color-parchment;
  border-top: 0.25rem solid $color-parchment;
  padding-block: 0.75rem;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  color: $color-parchment;
  width: 100%;
  padding-inline: 2rem;
}

.footer__ad {
  display: flex;
  max-width: 42.8125rem;
  width: 100%;

  @include media('<=phone') {
    display: block;
    max-width: 100%;
    margin-bottom: 4rem;
  }
}

.footer__ad__wrapper {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__ad__content {
  @extend %paragraph-11;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  color: $color-parchment;

}

.footer__ad__link {
  display: flex;

  a {
    @extend %button-filled;
    color: $color-black;
  }
}

.footer__identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__identity__logo {}

.footer__identity__logo__img {
  width: 6rem;
  height: 6rem;
  margin-bottom: 2rem;
}

.footer__identity__copyright {
  @extend %paragraph-11;
}

.footer__main {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;

  @include media('<=phone') {
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    text-align: center;
  }
}

.footer__column__links {
  max-width: 20.8125rem;
  width: 100%;

  @include media('<=phone') {
    display: block;
    max-width: 100%;
    margin-bottom: 4rem;
  }
}

.footer__column__links__item {
  color: $color-parchment;

  &:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.footer__column__links__item__link {
  @include media('<=phone') {
    font-size: 1.8rem;
  }
}

.footer__bottom__links {
  display: flex;
  flex-direction: row;
}

.footer__bottom__links__item {
  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.footer__bottom__links__item__link {}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 2.5rem auto;
  width: 100%;

  @include media('<=phone') {
    max-width: 45rem;
  }
}

.footer__bottom__left {}

.footer__bottom_right {}