.footer {
  height: 23.125rem;
  position: relative;
  margin-top: 16rem;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  color: $color-white;
  position: absolute;
  max-width: 85rem;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer__background {
  width: 100%;
  height: 100%;
  position: absolute;
}

.footer__background__img {
  @extend %cover;
  object-fit: cover;
}

.footer__top {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include media('<=phone') {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }
}

.footer__logo {
  max-width: 28.75rem;
  width: 100%;
  flex: 0 0 auto;

  @include media('<=phone') {
    display: none;
  }
}

.footer__logo__img {
  width: 9.375rem;
  height: 5.51238rem;
}

.footer__column__links {
  max-width: 14.375rem;
  width: 100%;
  flex: 0 0 auto;
}

.footer__column__links__item {

}

.footer__column__links__item__link {

}

.footer__bottom__links {
  display: flex;
  flex-direction: row;
}

.footer__bottom__links__item {
  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.footer__bottom__links__item__link {

}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 2.5rem auto;
  width: 100%;

  @include media('<=phone') {
    max-width: 45rem;
  }
}

.footer__bottom__left {

}

.footer__bottom_right {

}
