.navigation  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navigation__wrapper  {
  display: flex;
  padding-top: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  color: $color-white;
  position: absolute;
  max-width: 85rem;
  width: 100%;
  height: 4rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  @include media('<=phone') {
    max-width: 45rem;
  }
}

.navigation__logo {
  width: 4.0625rem;
  height: 2.38869rem;
}

.navigation__logo__img {
  height: 100%;
  width: 100%;
}
    
.navigation__menu {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-port-gore;
}

.navigation__menu__icon {
  svg {
    width: 1.75781rem;
    height: 1.5625rem;
  }

  &:hover {
    cursor: pointer;
  }
}
.navigation__menu__close__icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2rem;
  margin-right: 2rem;

  svg {
    width: 3.4375rem;
    height: 3.4375rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.navigation__menu__wrapper {
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  top: 0;
  
  li {
    overflow: hidden;

    a {
      display: inline-block;
    }
  }

}

.navigation__menu__copyright {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 2rem;
  transform-origin: bottom right;
  margin-bottom: auto;
  transform: rotate(-90deg) translateX(50%);
}

.navigation__list__internal {
  @extend %title-36;
  margin-bottom: 10rem;
  margin-left: 24rem;

  a {
    @extend %link
  }

  @include media('<=phone') {
    margin-left: 4rem;
  }
}

.navigation__list__internal__item {
  &:not(:last-child) {
    margin-bottom: 2.25rem;
  } 
}

.navigation__list__external {
  @extend %title-23;
  display: flex;
  margin-left: 24rem;

  @include media('<=phone') {
    margin-left: 4rem;
  }
}

.navigation__list__external__item {
  &:not(:last-child) {
    margin-right: 3.5rem
  }
  
}
